.app-header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.matrix-icon {
    max-width: 100px;
    height: auto;
}

.static-text {
    margin-right: 15px;
    margin-left: -40px;
}
