.container {
    position: absolute;
    right: 15px;
}

.questionButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.question-img {
    width: 50px;
    height: 50px;
}
